+++
title = "DistributiveJustice"
linkTitle = "DistributiveJustice"

+++

{{< blocks/cover title="Welcome to DistributiveJustice" image_anchor="top" height="full" color="orange" >}}
<h1>A Dalit struggle for equal Justice</h1><br>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Latest News <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/blog">}}">
		Join Us <i class="fa fa-heart ml-2 "></i>
	</a>
	<p class="lead mt-5"> “An idea needs propagation as much as a plant needs watering.” - B.R. Ambedkar</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
“History shows that where ethics and economics come in conflict, victory is always with economics. Vested interests have never been known to have willingly divested themselves unless there was sufficient force to compel them.”
― Bhim Rao Ambedkar
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa fa-book" title="Be Educated" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-user-plus" title="Be Organised"%}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-spin fa-spinner" title="Be Agitated"%}}
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
